{% extends 'base.html' %}

{% block title %} Contact{% endblock title %}  

{% block body %} 

<div class = "container my-4"> 
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://source.unsplash.com/1200x400/?telephone" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1200x400/?call, phone" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
<div>

    <div class="container my-2">
        <h1 class="text-center">Ask Your Query</h1>
        <form class="needs-validation" novalidate method="post" action="/contact">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
            <div class="invalid-feedback">
              Please enter your name.
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <div class="invalid-feedback">
              Please enter a valid email address.
            </div>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" name="phone" required>
            <div class="invalid-feedback">
              Please enter a valid phone number.
            </div>
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" onclick ="success()">Submit</button>
        </form>
        
    </div>

    <script>
      function success(){
        alert("Your form has been submitted successfully");
      } 
    </script>
{% endblock body %}